<template>
  <div>
    <h1>Password Reset</h1>
    <el-input v-model="email" placeholder="Enter your email address"> </el-input>
    <el-button
      :disabled="!validEmail"
      style="width: 100%;"
      type="info"
      @click="sendPasswordResetEmail"
    >
      Request Password Reset
    </el-button>
  </div>
</template>

<script>
import apiCall from "@/utils/api";

export default {
  data() {
    return {
      email: process.env.NODE_ENV === "production" ? "" : "a@b.com"
    };
  },
  computed: {
    validEmail() {
      return this.validateEmail(this.email);
    }
  },
  methods: {
    validateEmail(email) {
      return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
    },
    sendPasswordResetEmail() {
      apiCall.post("/api/accounts/reset-password/", { email: this.email }).then(() => {
        const h = this.$createElement;
        const message = `
              If the email you entered exists in our records,
              you should receive an email with a password reset link.
            `;
        this.$notify({
          title: "Success",
          message: h("i", { style: "color: teal" }, message)
        });
        this.$router.push("/login");
      });
    }
  }
};
</script>

<style scoped>
.el-input {
  margin-bottom: 5px;
}
</style>
