<template>
  <div class="main">
    <el-form>
      <h1>Choose a new Password</h1>
      <p>Passwords must contain</p>
      <ul>
        <li>at least 8 characters in total</li>
        <li>at least one upper case letter (A-Z)</li>
        <li>at least one special character</li>
      </ul>
      <el-input v-model="password1" type="password" placeholder="Enter a new password"> </el-input>
      <el-input v-model="password2" type="password" placeholder="Enter the password again">
      </el-input>
      <el-button :disabled="!validPasswords" type="primary" @click="attemptPasswordReset">
        {{ passwordsMatch ? "Reset Password" : "Passwords must match" }}
      </el-button>
    </el-form>
  </div>
</template>

<script>
import apiCall from "@/utils/api";

export default {
  data() {
    return {
      password1: "",
      password2: "",
      token: ""
    };
  },
  computed: {
    validPasswords() {
      if (
        this.passwordsMatch &&
        this.checkPassword(this.password1) &&
        this.checkPassword(this.password2)
      ) {
        return true;
      }
      return false;
    },
    passwordsMatch() {
      return this.password1 === this.password2;
    }
  },
  created() {
    this.token = this.$route.params.token;
    apiCall
      .post("/api/accounts/password-reset-attempt/check-token/", {
        token: this.token
      })
      .then(resp => {
        if (!resp.data.success) {
          this.$message({
            type: "warning",
            message: resp.data.message
          });
          this.$router.push("/password-reset");
        }
      });
  },
  methods: {
    checkPassword(str) {
      const re = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
      return re.test(str);
    },
    attemptPasswordReset() {
      apiCall
        .post("/api/accounts/password-reset-attempt/", {
          password1: this.password1,
          password2: this.password2,
          token: this.token
        })
        .then(resp => {
          if (resp.data.success) {
            const h = this.$createElement;
            const message = "Your password has been reset successfully.";
            this.$notify({
              title: "Success",
              message: h("i", { style: "color: teal" }, message)
            });
            this.$router.push("/login");
          } else {
            this.password1 = "";
            this.password2 = "";
            this.$message({
              type: "warning",
              message: resp.data.message
            });
          }
        });
    }
  }
};
</script>

<style scoped>
.el-input {
  margin-bottom: 5px;
}
.main {
  width: 90%;
}
.el-form {
  margin: 0 auto;
  width: 50%;
  max-width: 400px;
}
</style>
