<template>
  <div>
    <v-toolbar app>
      <v-toolbar-title>
        <router-link to="/" tag="span" style="cursor: pointer">
          {{ appTitle }}
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn flat v-for="item in menuItems" :key="item.title" :to="item.path">
          <v-icon left dark>{{ item.icon }}</v-icon>
          {{ item.title }}
        </v-btn>
        <logout-button v-if="authStore.isAuthenticated" />
      </v-toolbar-items>
    </v-toolbar>
  </div>
</template>

<script>
import { useAuthStore } from "@/stores/auth-user";
import LogoutButton from "@/components/navigation/LogoutButton.vue";
export default {
  setup() {
    const authStore = useAuthStore();
    if (authStore.isAuthenticated) {
      return {
        menuItems: [
          { title: "Home", path: "/", icon: "home" },
          { title: "Text List", path: "/text-list", icon: "check" },
          // { title: "Log Out", path: "/logout", icon: "lock_open" },
          { title: "Add Text", path: "/add-text", icon: "check" },
        ],
        authStore,
      };
    }
    return {
      menuItems: [
        { title: "Home", path: "/", icon: "home" },
        { title: "Sign Up", path: "/signup", icon: "face" },
        { title: "Log In", path: "/login", icon: "lock_open" },
      ],
      authStore,
    };
  },
  components: { LogoutButton },
  name: "mainNav",
  data() {
    return {
      appTitle: "Language Vault",
    };
  },
};
</script>
<style></style>
