<template>
  <v-btn flat v-if="authStore.isAuthenticated" @click="logout">
    <v-icon left dark>lock_open</v-icon>
    Logout
  </v-btn>
</template>

<script>
import apiCall from "@/utils/api";
import { useAuthStore } from "@/stores/auth-user";
export default {
  setup() {
    const authStore = useAuthStore();

    return { authStore };
  },
  methods: {
    logout() {
      apiCall
        .post("/api/logout/")
        .then(() => {
          this.authStore.authLogout();
        })
        .then(() => {
          this.$router.push("/login");
          this.menuOpen = false;
        });
    },
  },
};
</script>
