<template>
  <div class="center-container">
    <slot />
  </div>
</template>

<script>
export default {
  name: "CenterContainer"
};
</script>

<style scoped>
.center-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
</style>
