<template>
  <div>
    <drag-select
      attribute="attr"
      class="p-5 flex flex-wrap"
      @change="handleChange($event)"
    >
      <div
        class="grid grid-cols-1 divide-y p-3 shadow-md rounded m-2 flex justify-center items-center text-lg text-gray-700"
        v-for="wordId in sentence"
        :key="wordId"
        :attr="wordId"
        :class="wordStyling(wordId)"
      >
        <!-- handle phrases -->
        <div v-if="Array.isArray(wordId)">
          <span v-for="singleWordId in wordId" :key="singleWordId"
            >{{ words[singleWordId]["word"]["text"] }}&nbsp;</span
          >
          <div>
            <span v-if="phrases[tupleString(wordId)]?.length">
              {{ phrases[tupleString(wordId)].join(", ") }}
            </span>
          </div>
        </div>
        <!-- handle single words -->
        <div v-else>
          {{ words[wordId]["word"]["text"] }}
          <div>
            <span v-if="guesses[String(wordId)]?.length">
              {{ guesses[String(wordId)].join(", ") }}
            </span>

            <span
              class="text-gray-400"
              v-else-if="words[wordId]['related'].length"
            >
              {{ words[wordId]["related"].join(", ") }}
            </span>
          </div>
        </div>
      </div>
    </drag-select>
    <br />
    <div v-if="flattenedSelected && flattenedSelected.length == 1">
      <v-text-field
        :label="`Enter a guess for ${
          words[parseInt(selected[0], 10)][`word`][`text`]
        }`"
        :modelValue="guesses[parseInt(selected[0], 10)]"
        @update:modelValue="
          debouncedUpdateGuesses($event, parseInt(selected[0], 10))
        "
      >
      </v-text-field>
      <div @click="modal = true">
        View Details for {{ words[parseInt(selected[0], 10)][`word`][`text`] }}
      </div>
    </div>
    <div v-if="flattenedSelected?.length > 1">
      <v-text-field
        label="Enter a guess for the selected phrase"
        :modelValue="phrases[tupleString(flattenedSelected)]"
        @update:modelValue="
          debouncedUpdateGuessesForPhrases(
            $event,
            tupleString(flattenedSelected)
          )
        "
      >
      </v-text-field>
    </div>
    <v-dialog v-model="modal">
      <word-detail-preview :wordId="parseInt(selected[0], 10)" />
    </v-dialog>
  </div>
</template>

<script>
import _ from "lodash";

import { defineComponent } from "vue";
import DragSelect from "@/components/lib/DragSelect.vue";
import WordDetailPreview from "@/components/WordDetailPreview.vue";
export default defineComponent({
  setup() {},
  components: { DragSelect, WordDetailPreview },
  props: {
    sentence: {
      type: Array,
    },
    words: {
      type: Object,
    },
    guesses: {
      type: Object,
    },
    phrases: {
      type: Object,
    },
  },
  data() {
    return {
      selected: [],
      modal: null,
    };
  },
  created: function () {
    this.debouncedUpdateGuesses = _.debounce(this.updateGuesses, 1000);
    this.debouncedUpdateGuessesForPhrases = _.debounce(
      this.updateGuessesForPhrases,
      1000
    );
  },
  methods: {
    wordStyling(wordId) {
      let currentTokenClass = "";
      if (Array.isArray(wordId)) {
        if (this.phrases[this.tupleString(wordId)]?.length) {
          currentTokenClass = "has-guess";
        }
        if (this.selected && this.selected.includes(wordId.join(","))) {
          currentTokenClass = "bg-indigo-100";
        }
        return currentTokenClass;
      } else {
        if (this.guesses[wordId]?.length) {
          currentTokenClass = "has-guess";
        }
        if (
          this.flattenedSelected &&
          this.flattenedSelected.includes(String(wordId))
        ) {
          currentTokenClass = "bg-indigo-100";
        }
        return currentTokenClass;
      }
    },
    updateGuesses(value, index) {
      console.log("update guesses", value, this.guesses[index], index);
      this.$emit("updateGuesses", value.split(/[,]\s*/), index);
    },
    updateGuessesForPhrases(value, index) {
      console.log("update guesses for phrases", value, index);
      this.$emit("updateGuessesForPhrases", value.split(/[,]\s*/), index);
    },
    handleChange(event) {
      this.selected = event;
    },
    tupleString(myList) {
      if (!Array.isArray(myList)) {
        return "";
      }
      return `(${myList.join(", ")})`;
    },
  },
  computed: {
    flattenedSelected() {
      // flattens a list of ids and comma seperated string lists of ids
      // into a list of ids
      return this.selected
        .map((item) => {
          if (Array.isArray(item)) {
            return item;
          } else {
            return item.split(/[,]\s*/);
          }
        })
        .flat();
    },
  },
});
</script>
