<template>
  <div>
    Dict result
    <h2 class="text-4xl">Word: {{ word.text }}</h2>
    <h3 class="text-2xl">Part of Speech: {{ word.part_of_speech }}</h3>
    <h3 class="text-2xl">Morphology: {{ word.morphology }}</h3>
    <h3 class="text-2xl">Lemma: {{ word.lemma }}</h3>
    <div v-if="dictionaryResults">
      <h2>Definition</h2>
      <div v-for="(result, i) in dictionaryResults" :key="i">
        Definition {{ i + 1 }}: {{ result.definition }} <br />
        <the-sentence
          @updateGuesses="updateGuesses"
          @updateGuessesForPhrases="updateGuessesForPhrases"
          :guesses="result.guesses"
          :sentence="result.sentence"
          :words="result.words"
          :phrases="result.phrases"
        />

        Example {{ result.example }} <br /><br />
      </div>
    </div>
    <h2 class="text-4xl">Examples</h2>
    <div v-for="(example, i) in context" :key="i">
      <h3 class="text-xl">Example {{ i + 1 }}</h3>
      {{ example["sentence"] }}<br /><br />
    </div>
    <br /><br />
  </div>
</template>

<script>
import apiCall from "@/utils/api";

import TheSentence from "@/components/TheSentence.vue";
function convertStringToList(string) {
  // converts a string in the format "(1, 2, 3)" to a list [1, 2, 3]
  let commaSeparatedNumbers = /(\d+),?/g;
  let matches = [...string.matchAll(commaSeparatedNumbers)];
  let finalList = [];
  for (const match in matches) {
    finalList.push(parseInt(matches[match][1]));
  }
  return finalList;
}

export default {
  components: {
    TheSentence,
  },
  data() {
    return {
      word: "",
      context: "",
      dictionaryResults: null,
    };
  },
  mounted() {
    this.fetchWord(this.$route.params.wordId);
    this.fetchExamples(this.$route.params.wordId);
    this.fetchDefinition(this.$route.params.wordId);
    document.title = "Word Details";
  },
  methods: {
    updateGuessesForPhrases(value, word_ids) {
      console.log("updating", value, word_ids);
      word_ids = convertStringToList(word_ids);
      let postData = {
        word_ids,
        value,
      };
      apiCall.post(`/api/phrases/guess/`, postData).then((resp) => {
        this.fetchWord(this.$route.params.wordId);
        this.fetchExamples(this.$route.params.wordId);
        this.fetchDefinition(this.$route.params.wordId);
      });
    },
    updateGuesses(value, index) {
      console.log(value);
      this.guessesLoading = true;
      console.log("updating");

      let postData = {
        guess: value,
      };
      apiCall.post(`/api/words/${index}/guess`, postData).then((resp) => {
        this.fetchWord();
        this.fetchExamples();
        this.fetchDefinition();
      });
    },
    fetchWord(wordId) {
      apiCall.get(`/api/words/${wordId}`).then((response) => {
        this.word = response.data;
      });
    },
    fetchExamples(wordId) {
      apiCall.get(`/api/words/${wordId}/in-context`).then((response) => {
        this.context = response.data;
      });
    },
    fetchDefinition(wordId) {
      apiCall.get(`/api/words/${wordId}/definition`).then((response) => {
        console.log(response);
        this.dictionaryResults = response.data;
      });
    },
  },
};
</script>

<style scoped>
h1 {
  color: green;
}
h2 {
}
p {
  color: blue;
}
</style>
