<template>
  <v-card>
    <v-card-title> {{ word.text }}</v-card-title>
    <v-card-subtitle> {{ word.part_of_speech }}</v-card-subtitle>
    <v-card-text>
      {{ word.definition }}
      <div v-if="dictionaryResults">
        <div v-for="(result, i) in dictionaryResults" :key="i">
          Definition {{ i + 1 }}: {{ result.definition }} <br />
          Example {{ result.example }} <br /><br />
        </div>
      </div>
      <h2 class="text-4xl">Examples</h2>
      <div v-for="(example, i) in context" :key="i">
        <h3 class="text-xl">Example {{ i + 1 }}</h3>
        {{ example["sentence"] }}<br /><br />
      </div>
      <br /><br />
    </v-card-text>
  </v-card>
</template>

<script>
import apiCall from "@/utils/api";

export default {
  components: {},
  props: {
    wordId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      word: "",
      context: "",
      dictionaryResults: null,
    };
  },
  mounted() {
    this.fetchWord(this.wordId);
    this.fetchExamples(this.wordId);
    this.fetchDefinition(this.wordId);
    document.title = "Word Details";
  },
  methods: {
    fetchWord(wordId) {
      apiCall.get(`/api/words/${wordId}`).then((response) => {
        this.word = response.data;
      });
    },
    fetchExamples(wordId) {
      apiCall.get(`/api/words/${wordId}/in-context`).then((response) => {
        this.context = response.data;
      });
    },
    fetchDefinition(wordId) {
      apiCall.get(`/api/words/${wordId}/definition`).then((response) => {
        console.log(response);
        this.dictionaryResults = response.data;
      });
    },
  },
};
</script>

<style scoped>
h1 {
  color: green;
}
h2 {
}
p {
  color: blue;
}
</style>
