<template>
  <div class="login">
    <h1 data-test="signin-message">Sign In</h1>
    <v-form v-loading="loading">
      <v-text-field v-model="email" placeholder="Email"></v-text-field>
      <v-text-field
        v-model="password"
        :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
        :rules="[rules.required, rules.min]"
        :type="show1 ? 'text' : 'password'"
        label="Enter a password"
        hint="At least 8 characters"
        counter
        @click:append="show = !show"
        placeholder="Password"
      ></v-text-field>
      <v-btn
        id="login"
        style="width: 100%"
        type="primary"
        @click.prevent="login"
      >
        Login
      </v-btn>
      <router-link to="/password-reset">
        <el-button style="width: 100%" type="info"> Reset Password </el-button>
      </router-link>
    </v-form>
  </div>
</template>

<script>
import { AUTH_REQUEST } from "/src/store/actions/auth";
import { mapGetters } from "vuex";
import axios from "axios";

export default {
  name: "Login",
  data() {
    return {
      email: process.env.NODE_ENV === "production" ? "" : "a@b.com",
      password: process.env.NODE_ENV === "production" ? "" : "a",
    };
  },
  methods: {
    login() {
      const { email, password } = this;
      this.$store
        .dispatch(AUTH_REQUEST, { email, password })
        .then(() => {
          this.$router.push("/");
          // router.go refreshes the page to trigger the App.vue's settimeout
          this.$router.go();
        })
        .catch(() => {
          this.$message.error("Username or password incorrect.");
          this.email = "";
          this.password = "";
        });
    },
  },
  computed: {
    ...mapGetters(["isAuthenticated", "authStatus"]),
    loading() {
      return this.authStatus === "loading" && !this.isAuthenticated;
    },
  },
  mounted() {
    axios.get("/api/login-set-cookie/");
  },
};
</script>

<style scoped>
.login {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.el-input {
  margin-bottom: 5px;
}

.el-button {
  margin-bottom: 5px;
}
</style>
