<template>
  <div>
    <p class="font-bold">The Language Vault makes learning a language into a game of discovery.</p>
    <p>Inspired by the game <a href="https://www.inklestudios.com/heavensvault/">Heaven's Vault</a>, Language Vault helps you learn a new language by making it into a game where you guess the right word. You verify your guesses by seeing if you guess makes sense when you see the word used again.</p>
    <br/>
    <p>This is an open source project. To view the status of the project in more detail or to contribute, go to <a href="https://gitlab.com/adamlevin/language-vault">The Language Vault Repository</a></p>
  </div>
</template>
<script>
export default {

}
</script>
<style>

</style>