<template>
  <div>
    <h1>Logout</h1>
    <logout-modal :show="true"></logout-modal>
  </div>
</template>

<script>
import LogoutModal from "@/components/LogoutModal.vue";
export default {
  components: {
    LogoutModal
  }
};
</script>

<style scoped></style>
