<template>
  <div class="main">
    <el-form>
      <h1>Sign Up</h1>
      <el-input v-model="email" placeholder="Enter your email address"> </el-input>
      <p>Passwords must contain</p>
      <ul>
        <li>at least 8 characters in total</li>
        <li>at least one upper case letter (A-Z)</li>
        <li>at least one special character</li>
      </ul>
      <el-input v-model="password1" type="password" placeholder="Enter a password"> </el-input>
      <el-input v-model="password2" type="password" placeholder="Enter the password again">
      </el-input>
      <el-button :disabled="!validForm" type="primary" @click="createAccount">
        {{ passwordsMatch ? "Register" : "Passwords must match" }}
      </el-button>
    </el-form>
  </div>
</template>

<script>
import apiCall from "@/utils/api";
import ElInputTag from './lib/ElInputTag.vue';

export default {
  components: { ElInputTag },
  data() {
    return {
      email: "",
      password1: "",
      password2: "",
    };
  },

  computed: {
    validEmail() {
      return this.validateEmail(this.email);
    },

    validPasswords() {
      if (
        this.passwordsMatch &&
        this.checkPassword(this.password1) &&
        this.checkPassword(this.password2)
      ) {
        return true;
      }
      return false;
    },
    validForm() {
      return this.validEmail && this.validPasswords;
    },
    passwordsMatch() {
      return this.password1 === this.password2;
    },

  },

  methods: {
    validateEmail(email) {
      return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
    },
    checkPassword(str) {
      const re = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
      return re.test(str);
    },
    createAccount() {
      apiCall
        .post("/api/accounts/", {
          email: this.email,
          password1: this.password1,
          password2: this.password2,
        })
        .then(resp => {
          if (resp.data.success) {
            const h = this.$createElement;
            const message = "Your account has been created successfully.";
            this.$notify({
              title: "Success",
              message: h("i", { style: "color: teal" }, message)
            });
            this.$router.push("/login");
          } else {
            this.password1 = "";
            this.password2 = "";
            this.$message({
              type: "warning",
              message: resp.data.message
            });
          }
        });
    }
  }
};
</script>

<style scoped>
.el-input {
  margin-bottom: 5px;
}
.main {
  width: 90%;
}
.el-form {
  margin: 0 auto;
  width: 50%;
  max-width: 400px;
}
</style>
