<template>
  <div>
    <div v-if="!$route.params.wordId">
      <h2>Words</h2>
      <div v-for="(word, i) in words" :key="i">
        <h1 :key="i">{{ word.text }}</h1>
      </div>
    </div>
    <div v-else>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      words: []
    };
  },
  mounted() {
    this.fetchPosts();
    document.title = "Words";
  },
  methods: {
    fetchPosts() {
      fetch("/api/words/", {
        method: "GET",
        headers: {
          Accept: "application/json"
        }
      }).then(response => {
        if (response.ok) {
          response.json().then(json => {
            this.words = json;
          });
        }
      });
    }
  }
};
</script>

<style scoped>
h1 {
  color: green;
}
p {
  color: blue;
}
</style>
