<template>
  <div>
    <h2 class="text-4xl">Word: {{ word.text }}</h2>
    <h3 class="text-2xl">Part of Speech: {{ word.part_of_speech }}</h3>
    <h3 class="text-2xl">Morphology: {{ word.morphology }}</h3>
    <h3 class="text-2xl">Lemma: {{ word.lemma }}</h3>
    <div v-if="dictionaryResults">
      <h2>Definition</h2>
      <div v-for="(result, i) in dictionaryResults">
        Definition {{ i + 1 }}: {{ result.definition }} <br />
        <guess-input-for-multiple-words-no-source
          @updateGuesses="updateGuesses"
          @updateGuessesForPhrases="updateGuessesForPhrases"
          :guesses="result.definition_guesses"
          :sentence="result.definition_words"
        />

        Example {{ result.example }} <br /><br />
      </div>
    </div>
    <h2 class="text-4xl">Examples</h2>
    <div v-for="(example, i) in context" :key="i">
      <h3 class="text-xl">Example {{ i + 1 }}</h3>
      {{ example["sentence"] }}<br /><br />
    </div>
    <br /><br />
  </div>
</template>

<script>
import GuessInputForMultipleWordsNoSource from "@/components/text/GuessInputForMultipleWordsNoSource.vue";

export default {
  components: {
    GuessInputForMultipleWordsNoSource
  },
  data() {
    return {
      word: "",
      context: "",
      dictionaryResults: null
    };
  },
  mounted() {
    this.fetchWord();
    this.fetchExamples();
    this.fetchDefinition();
    document.title = "Word Details";
  },
  methods: {
    updateGuesses(value, index) {
      this.loading = true;
      this.fetchDefinition();
      this.loading = false;
    },

    updateGuessesForPhrases() {},
    fetchWord() {
      fetch(`/api/words/${this.$route.params.wordId}`, {
        method: "GET",
        headers: {
          Accept: "application/json"
        }
      }).then(response => {
        if (response.ok) {
          response.json().then(json => {
            this.word = json;
          });
        }
      });
    },
    fetchExamples() {
      fetch(`/api/words/${this.$route.params.wordId}/in-context`, {
        method: "GET",
        headers: {
          Accept: "application/json"
        }
      }).then(response => {
        if (response.ok) {
          response.json().then(json => {
            this.context = json;
          });
        }
      });
    },
    fetchDefinition() {
      fetch(`/api/words/${this.$route.params.wordId}/definition`, {
        method: "GET",
        headers: {
          Accept: "application/json"
        }
      }).then(response => {
        if (response.ok) {
          response.json().then(json => {
            this.dictionaryResults = json;
          });
        }
      });
    }
  }
};
</script>

<style scoped>
h1 {
  color: green;
}
h2 {
}
p {
  color: blue;
}
</style>
