<template>
  <v-app id="app">
    <Navigation />
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Navigation from "./components/navigation/index.vue";

export default defineComponent({
  name: "App",

  components: {
    Navigation,
  },
  data() {
    return {
      //
    };
  },
});
</script>
