<template>
  <div id="app">
    <navigation />
    <div class="main-container">
      <center-container>
        <transition name="fade" mode="out-in">
          <router-view :key="$route.path" />
        </transition>
      </center-container>
    </div>
  </div>
</template>

<script>
import Navigation from "@/components/navigation";
import { USER_REQUEST } from "@/store/actions/user";
import { AUTH_REFRESH } from "@/store/actions/auth";

export default {
  name: "App",
  components: { Navigation },
  created: function() {
    if (this.$store.getters.isAuthenticated) {
      this.$store.dispatch(USER_REQUEST);
    }
  }
};
</script>

<style>
body {
  transition: 0.25s;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #2e426b;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.15s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}
</style>

<style scoped>
.main-container {
  min-height: calc(100vh - 70px);
}
</style>
