<!-- Vendored library from
https://github.com/andi23rosca/drag-select-vue/
blob/master/src/DragSelect.vue
-->
<template>
  <div
    id="container"
    ref="container"
    style="
      position: relative;
      user-select: none;
      overflow: hidden;
      touch-action: none;
    "
  >
    <slot v-bind="{ selected: intersected }" />
  </div>
</template>

<script>
const getDimensions = (p1, p2) => ({
  width: Math.abs(p1.x - p2.x),
  height: Math.abs(p1.y - p2.y),
});
const collisionCheck = (node1, node2) =>
  node1.left < node2.left + node2.width &&
  node1.left + node1.width > node2.left &&
  node1.top < node2.top + node2.height &&
  node1.top + node1.height > node2.top;
export default {
  props: {
    attribute: {
      type: String,
      required: true,
    },
    color: {
      type: String,
      default: "#4299E1",
    },
    opacity: {
      type: Number,
      default: 0.7,
    },
  },
  data() {
    return {
      intersected: [],
      start: { x: 0, y: 0 },
      end: { x: 0, y: 0 },
      box: null,
      children: null,
      containerRect: null,
      container: null,
    };
  },
  watch: {
    intersected(i) {
      this.$emit("change", i);
    },
  },
  methods: {
    touchStart(e) {
      e.preventDefault();
      this.startDrag(e.touches[0]);
    },
    touchMove(e) {
      e.preventDefault();
      this.drag(e.touches[0]);
    },
    startDrag(e) {
      this.containerRect = this.$refs.container.getBoundingClientRect();
      this.children = this.$refs.container.children;
      this.start = this.getCoords(e);
      this.end = this.start;
      document.addEventListener("mousemove", this.drag);
      document.addEventListener("touchmove", this.touchMove);
      this.box.style.top = this.start.y + "px";
      this.box.style.left = this.start.x + "px";
      this.$refs.container.prepend(this.box);
      this.intersection(e.ctrlKey);
    },
    drag(e) {
      this.end = this.getCoords(e);
      const dimensions = getDimensions(this.start, this.end);
      if (this.end.x < this.start.x) {
        this.box.style.left = this.end.x + "px";
      }
      if (this.end.y < this.start.y) {
        this.box.style.top = this.end.y + "px";
      }
      this.box.style.width = dimensions.width + "px";
      this.box.style.height = dimensions.height + "px";
      this.intersection(e.ctrlKey);
    },
    endDrag() {
      this.start = { x: 0, y: 0 };
      this.end = { x: 0, y: 0 };
      this.box.style.width = 0;
      this.box.style.height = 0;
      document.removeEventListener("mousemove", this.drag);
      document.removeEventListener("touchmove", this.touchMove);
      this.box.remove();
    },
    intersection(ctrlDown) {
      const rect = this.box.getBoundingClientRect();
      const intersected = [];
      for (let i = 0; i < this.container.children.length; i++) {
        if (
          collisionCheck(
            rect,
            this.container.children[i].getBoundingClientRect()
          )
        ) {
          const attr = this.$refs.container.children[i].getAttribute(
            this.attribute
          );

          if (this.container.children[i].hasAttribute(this.attribute)) {
            intersected.push(attr);
          }
        }
      }
      if (
        JSON.stringify([...intersected]) !==
        JSON.stringify([...this.intersected])
      )
        if (intersected.length) {
          if (ctrlDown) {
            this.intersected = [
              ...new Set([...intersected, ...this.intersected]),
            ];
          } else {
            this.intersected = intersected;
          }
          // this.intersected = this.intersected.sort();
        }
    },
    getCoords(e) {
      return {
        x: e.clientX - this.containerRect.left,
        y: e.clientY - this.containerRect.top,
      };
    },
  },
  mounted() {
    this.container = this.$refs.container;
    this.containerRect = this.$refs.container.getBoundingClientRect();

    this.box = document.createElement("div");
    this.box.setAttribute("data-drag-box-component", "");
    this.box.style.position = "absolute";
    this.box.style.backgroundColor = this.color;
    this.box.style.opacity = this.opacity;
    this.start = { x: 0, y: 0 };
    this.end = { x: 0, y: 0 };
    this.$refs.container.addEventListener("mousedown", this.startDrag);
    this.$refs.container.addEventListener("touchstart", this.touchStart, {
      passive: true,
    });
    document.addEventListener("mouseup", this.endDrag);
    document.addEventListener("touchend", this.endDrag);
  },
  beforeUnmount() {
    this.$refs.container.removeEventListener("mousedown", this.startDrag);
    this.$refs.container.removeEventListener("touchstart", this.touchStart);
    document.removeEventListener("mouseup", this.endDrag);
    document.removeEventListener("touchend", this.endDrag);
  },
};
</script>
