<template>
  <div class="login">
    <h1 data-test="signin-message">Sign In</h1>
    <v-form v-loading="loading" @submit="login">
      <v-container fluid>
        <v-row>
          <v-col cols="12">
            <v-text-field v-model="email" placeholder="Email"></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-text-field
              label="Password"
              v-model="password"
              type="password"
              placeholder="Password"
            ></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-btn
              id="login"
              data-cy="login"
              type="primary"
              :disabled="submitted"
              @click.prevent="login"
            >
              Login
            </v-btn>
          </v-col>
          <v-col cols="12">
            <router-link to="/password-reset">
              <v-btn> Reset Password </v-btn>
            </router-link>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
  </div>
</template>

<script>
import { useAuthStore } from "@/stores/auth-user";

import { defineComponent } from "vue";
import axios from "axios";

export default defineComponent({
  setup() {
    const authStore = useAuthStore();

    return {
      authStore,
    };
  },
  data() {
    return {
      email: import.meta.env.MODE === "production" ? "" : "a@b.com",
      password: import.meta.env.MODE === "production" ? "" : "a",
      submitted: false,
    };
  },
  computed: {
    loading() {
      return (
        this.authStore.authStatus === "loading" &&
        !this.authStore.isAuthenticated
      );
    },
  },
  mounted() {
    axios.get("/api/login-set-cookie/");
  },
  methods: {
    login() {
      console.log("submitted");
      this.submitted = true;
      const { email, password } = this;
      this.authStore
        .authRequest({ email, password })
        .then(() => {
          this.submitted = false;
          console.log("login success");
          this.$router.push("/");
          // router.go refreshes the page to trigger the App.vue's settimeout
          this.$router.go();
        })
        .catch(() => {
          this.submitted = false;
          console.log("login fail");
          this.$message.error("Username or password incorrect.");
          this.email = "";
          this.password = "";
        });
    },
  },
});
</script>

<style scoped>
.login {
  display: flex;
  flex-direction: column;
  width: 300px;
}
.v-input {
  margin-bottom: 5px;
}

.v-btn {
  width: 100%;
  margin-bottom: 5px;
}
</style>
