<template>
  <div>
    <h2>Text</h2>
    <div class="full-width" v-loading="loading">
      <v-switch
        style="display: block"
        v-model="isEditMode"
        active-color="#13ce66"
        inactive-color="#ff4949"
        active-text="Edit Mode"
        inactive-text="Reading Mode"
      >
      </v-switch>
      <div v-if="isEditMode">
        <div v-for="(sentence, i) in sentences" :key="i">
          <the-sentence
            :sentence="sentence"
            :words="words"
            :guesses="guesses"
            :phrases="phrases[i]"
            @updateGuesses="updateGuesses"
            @updateGuessesForPhrases="updateGuessesForPhrases"
          />
          <!-- <guess-input-for-multiple-words
            @updateGuesses="updateGuesses"
            @updateGuessesForPhrases="updateGuessesForPhrases"
            :guesses="guesses"
            :sentence="sentence"
            :sourceText="sourceText"
            :phrases="[]"
          /> -->
        </div>
      </div>
      <div v-else>Reading Mode Under Development</div>
    </div>
  </div>
</template>

<script>
import apiCall from "@/utils/api";
import GuessInputForMultipleWords from "@/components/GuessInputForMultipleWords.vue";
import TheSentence from "@/components/TheSentence.vue";

function convertStringToList(string) {
  // converts a string in the format "(1, 2, 3)" to a list [1, 2, 3]
  let commaSeparatedNumbers = /(\d+),?/g;
  let matches = [...string.matchAll(commaSeparatedNumbers)];
  let finalList = [];
  for (const match in matches) {
    finalList.push(parseInt(matches[match][1]));
  }
  return finalList;
}

export default {
  components: {
    // GuessInputForMultipleWords
    TheSentence,
  },
  data() {
    return {
      sentenceRange: {},
      sourceText: [],
      sentences: [],
      guesses: [],
      words: {},
      sourceTextLoading: true,
      guessesLoading: true,
      phrasesLoading: true,
      isEditMode: true,
      selectedGuesses: [],
      phrases: {},
    };
  },
  computed: {
    loading() {
      return this.sourceTextLoading;
    },
  },
  watch: {},
  mounted() {
    this.fetchSourceText();
    this.fetchTranslation();
    document.title = "Text";
  },
  methods: {
    updateGuessesForPhrases(value, word_ids) {
      console.log("updating", value, word_ids);
      word_ids = convertStringToList(word_ids);
      let postData = {
        word_ids,
        value,
      };
      apiCall.post(`/api/phrases/guess/`, postData).then((resp) => {
        this.fetchSourceText();
      });
    },
    updateGuesses(value, index) {
      console.log(value);
      this.guessesLoading = true;
      this.guesses[index] = value;
      console.log("updating");

      let postData = {
        guess: this.guesses[index],
      };
      apiCall.post(`/api/words/${index}/guess`, postData).then((resp) => {
        this.fetchTranslation();
      });
    },
    fetchSourceText() {
      this.sourceTextLoading = true;
      apiCall
        .get(`/api/source-text/${this.$route.params.textId}/`)
        .then((resp) => {
          let result = resp.data;
          this.sourceTextLoading = false;
          this.sentences = result["sentences"];
          this.words = result["words"];
          this.phrases = result["phrases"];
          let sentenceRange = {};
          // sentenceRange lists what word index start and stop each
          // sentence
          let start = 0;
          let sentenceCount = this.sourceText.length;
          this.sentenceRange = sentenceRange;
        });
    },
    fetchTranslation() {
      this.$http
        .get(`/api/guesses/source-text/${this.$route.params.textId}/`)
        .then((resp) => {
          this.guesses = resp.data;
          this.guessesLoading = false;
        });
      // this.$http
      //   .get(`/api/phrases/source-text/${this.$route.params.textId}/`)
      //   .then((resp) => {
      //     this.phrases = resp.data;
      //     this.phrasesLoading = false;
      //   });
    },
    fetchPhrases() {
      apiCall
        .get(`/api/source-text/${this.$route.params.textId}/`)
        .then((resp) => {
          let result = resp.data;
          this.phrases = result["phrases"];
        });
    },
  },
};
</script>
<style>
.el-row {
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
}
.reading-mode-source {
  overflow: hidden;
  background: #e5e9f2;
}
.reading-mode-guess {
  overflow: hidden;
  background: #b0bed4;
  margin-bottom: 30px;
}
.vocab-word {
  overflow: hidden;
  background: #e5e9f2;
  border-radius: 4px;
  margin: 6px;
}
.guess {
  overflow: hidden;
  /* border-radius: 4px; */
  height: 70px;
  /* margin: 6px; */
  background: #99a9bf;
}
.related {
  overflow: hidden;
  border-radius: 0;
  height: 70px;
  /* margin: 6px; */
  background: #948b96;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
.full-width {
  width: 100%;
}
</style>
<style scoped>
.input-tag-wrapper {
  position: relative;
  font-size: 14px;
  background-color: #99a9bf;
  background-image: none;
  border: none;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  outline: none;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

h1 {
  color: green;
}
p {
  color: blue;
}
</style>
