<template>
  <div>
    <router-view></router-view>
    <div v-if="!$route.params.textId">
      <el-table
        v-loading="$store.getters['textList/getLoading']"
        :data="$store.getters['textList/get']"
      >
        <el-table-column label="Text Id" prop="id">
          <template slot-scope="scope">
            <router-link :to="`/text/${scope.row.id}/`">
              <el-button>
                {{ scope.row.id }}
              </el-button>
            </router-link>
          </template>
        </el-table-column>
        <el-table-column label="Text Preview" prop="text_preview">
        </el-table-column>
      </el-table>
      <el-pagination
        background
        :page-size="$store.getters['textList/getPaginationLimit']"
        class="pagination"
        :current-page.sync="currentPage"
        :page-sizes="[2, 5, 10, 20, 50, 100]"
        layout="sizes, prev, pager, next, total, jumper"
        :total="$store.getters['textList/getCount']"
        @size-change="handlePaginationSizeChange"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {};
  },
  computed: {
    currentPage: {
      get() {
        return this.$store.getters["textList/getCurrentPage"];
      },
      set(p) {
        this.$store.dispatch("textList/setCurrentPage", {
          p,
          id: this.$route.params.id,
        });
      },
    },
  },
  created() {
    this.fetchData();
  },
  destroyed() {
    this.$store.commit("textList/clear");
  },
  methods: {
    handlePaginationSizeChange(value) {
      this.$store.dispatch("textList/setPaginationLimit", {
        id: this.$route.params.id,
        value,
      });
    },
    fetchData() {
      console.log("fetching.....");
      this.$store.dispatch("textList/fetchData", {
        id: this.$route.params.id || null,
      });
    },
  },
};
</script>

<style scoped>
.actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.file-download-button {
  text-overflow: ellipsis !important;
}

.rebuild-report-file-wand {
  width: 100%;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
