<template>
  <div>
    <div v-if="!$route.params.textId">
      <v-table>
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">ID</th>
              <th class="text-left">Preview</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in textList" :key="item.id">

              <td>
                <router-link :to="`/text/${item.id}/`">
                <v-btn>
                  {{ item.id }}
                </v-btn>
              </router-link>
            </td>
              <td>{{ item.text_preview }}</td>
            </tr>
          </tbody>
        </template>
      </v-table>
    </div>
  </div>
</template>
<script>

export default {
  components: {},
  data() {
    return {
      textList: []
    };
  },
  created() {
    this.fetchData();
  },
  methods: {
    fetchData() {
      console.log("fetching.....");
      let api = `/api/source-text/`
      this.$http.get(api).then((response) => {
        this.textList = response.data;
      });
    }
  }
};
</script>

<style></style>
