<template>
  <div>
    <label class="block text-left">
      <br/>
      <div class="text-gray-700">Add a new Spanish text</div>
      <br/>
      <el-form label-width="30%">
        <textarea v-model="newText" class="form-textarea mt-1 block w-full border-2" rows="3" placeholder="Add a story, song lyrics, news article or any Spanish text you want."></textarea>
      </el-form>
      <br/>
      <el-button
        :disabled="!formValid"
        type="success"
        @click.once.prevent="saveText"
        >Submit
      </el-button>
      <br/>
    </label>
  </div>
</template>

<script>
import apiCall from "@/utils/api";

export default {
  data() {
    return {
      newText: '',
    };
  },
  computed: {
    formValid() {
      return !!this.newText;
    }
  },
  methods: {
    saveText() {
      const formData = new FormData();
      formData.append("text", this.newText);

      apiCall
        .post("/api/source-text/", formData)
        .then(() => {
          const h = this.$createElement;
          this.$notify({
            title: "Submitted",
            message: h(
              "i",
              { style: "color: teal" },
              "Your text is being processed.",
            ),
            position: "bottom-right",
          });
        });
    },
  },


}
</script>
<style>

</style>