<template>
  <div>
    <drag-select attribute="attr" class=" p-5 flex flex-wrap" @change="handleChange($event)">
      <div
        class="grid grid-cols-1 divide-y p-3 bg-white shadow-md rounded m-2 flex justify-center items-center text-lg text-gray-700"
        v-for="(token, j) in sentence"
        :key="token.position_in_source_text"
        :attr="token.position_in_source_text"
        :class="{
          'shadow-outline': selected && selected.includes(String(token.position_in_source_text)),
          'has-guess': guesses[token.position_in_source_text].length
        }"
      >
        <div>{{ token.word.text }}{{ "\xa0" }}</div>
        <div>
          <span v-if="guesses[token.position_in_source_text].length">
            {{ guesses[token.position_in_source_text].join(", ") }}
          </span>
        </div>
        <div v-if="token.related.length">
          {{ token.related.join(", ") }}
        </div>
      </div>
    </drag-select>
    <div v-if="phrases">
      <div v-for="(phrase, j) in phrases" :key="j">
        <span v-for="(position, k) in phrase.positions" :key="k">
          {{ sentence[position - positionOffset].word.text }}
        </span>
        {{ phrase.guesses }}
      </div>
    </div>
    <br/>
    <div v-if="selected && selected.length == 1">
      <el-label>
        Enter a guess for {{ sentence[parseInt(selected[0], 10) - positionOffset]['word']['text'] }}
      </el-label>
      <el-input-tag
        :value="guesses[parseInt(selected[0], 10)]"
        size="mini"
        @input="debouncedUpdateGuesses($event, parseInt(selected[0], 10))"
      />
      <router-link
        :to="`/words/${sentence[parseInt(selected[0], 10) - positionOffset]['word']['id']}/`"
      >
        View Details for {{ sentence[parseInt(selected[0], 10) - positionOffset]['word']['text'] }}

      </router-link>
    </div>
    <div v-if="selected && selected.length > 1">
      <el-label>
        Enter a guess for the selected phrase
      </el-label>
      <el-input-tag
        :value="phrasesByPosition[tupleString(selected)]"
        size="mini"
        @input="debouncedUpdateGuessesForPhrases($event, tupleString(selected))"
      />
    </div>
  </div>
</template>
<script>
import _ from "lodash";

import ElInputTag from "@/components/lib/ElInputTag";
import DragSelect from "@/components/lib/DragSelect";

export default {
  components: { ElInputTag, DragSelect },
  props: {
    sentence: {
      type: Array
    },
    guesses: {
      type: Array
    },
    phrases: {
      type: Array
    },
    positionOffset: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      selected: []
    };
  },
  computed: {
    phrasesByPosition() {
      let result = {};
      if (!this.phrases || this.phrases.length == 0) return {};
      for (const phrase of this.phrases) {
        if (phrase["positions"]) {
          result[this.tupleString(phrase["positions"])] = phrase["guesses"];
        }
      }
      return result;
    }
  },
  created: function() {
    this.debouncedUpdateGuesses = _.debounce(this.updateGuesses, 500);
    this.debouncedUpdateGuessesForPhrases = _.debounce(this.updateGuessesForPhrases, 500);
  },

  methods: {
    handleChange(event) {
      this.selected = event;
    },
    updateGuesses(value, index) {
      console.log("update guesses", value, index);
      this.$emit("updateGuesses", value, index);
    },
    updateGuessesForPhrases(value, index) {
      console.log("update guesses for phrases", value, index);

      this.$emit("updateGuessesForPhrases", value, index);
    },
    tupleString(myList) {
      return `(${myList.join(", ")})`;
    }
  }
};
</script>
<style>
.el-row {
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
}
.reading-mode-source {
  overflow: hidden;
  background: #e5e9f2;
}
.reading-mode-guess {
  overflow: hidden;
  background: #b0bed4;
  margin-bottom: 30px;
}
.has-guess {
  background: #e0e0e0;
}
.vocab-word {
  overflow: hidden;
  background: #e5e9f2;
  border-radius: 4px;
  margin: 6px;
}
.guess {
  overflow: hidden;
  /* border-radius: 4px; */
  height: 70px;
  /* margin: 6px; */
  background: #99a9bf;
}
</style>
<style scoped>
h1 {
  color: green;
}
p {
  color: blue;
}
.input-tag-wrapper {
  position: relative;
  font-size: 14px;
  background-color: #99a9bf;
  background-image: none;
  border: none;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  outline: none;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
</style>
