<template>
  <div>
    <drag-select attribute="attr" class=" p-5 flex flex-wrap" @change="handleChange($event)">
      <div
        class="grid grid-cols-1 divide-y p-3 bg-white shadow-md rounded m-2 flex justify-center items-center text-lg text-gray-700"
        v-for="(token, j) in sentence"
        :key="j"
        :attr="j"
        :class="{
          'shadow-outline': selected && selected.includes(String(j)),
          'has-guess': guesses[token.position_in_source_text].length
        }"
      >
        <div>{{ token.word.text }}{{ "\xa0" }}</div>
        <div v-if="guessesLocal[j].length">
          {{ guessesLocal[j].join(", ") }}
        </div>
        <div v-if="token.related.length">
          {{ token.related.join(", ") }}
        </div>
      </div>
    </drag-select>
    <div v-if="phrasesLocal">
      <div v-for="(phrase, j) in phrasesLocal" :key="j">
        <span v-for="(position, k) in phrasesLocal.positions" :key="k">
          {{ sentence[position - positionOffset].word.text }}
        </span>
        {{ phrasesLocal.guesses }}
      </div>
    </div>
    <div v-if="selected && selected.length == 1">
      <el-label>
        Enter a guess for {{ sentence[parseInt(selected[0], 10) - positionOffset]["word"]["text"] }}
      </el-label>
      <el-input-tag
        :value="guessesLocal[parseInt(selected[0], 10)]"
        size="mini"
        @input="debouncedUpdateGuess($event, parseInt(selected[0], 10))"
      />
      <router-link
        :to="`/words/${sentence[parseInt(selected[0], 10) - positionOffset]['word']['id']}/`"
      >
        View Details for {{ sentence[parseInt(selected[0], 10) - positionOffset]["word"]["text"] }}
      </router-link>
    </div>
    <div v-if="selected && selected.length > 1">
      <el-label>
        Enter a guess for the selected phrase
      </el-label>
      <el-input-tag
        :value="phrasesByPosition[tupleString(selected)]"
        size="mini"
        @input="debouncedUpdateGuessForPhrase($event, selected)"
      />
    </div>
  </div>
</template>
<script>
import _ from "lodash";

import ElInputTag from "@/components/lib/ElInputTag";
import DragSelect from "@/components/lib/DragSelect";
import apiCall from "@/utils/api";

export default {
  components: { ElInputTag, DragSelect },
  props: {
    sentence: {
      type: Array,
      default: () => []
    },
    guesses: {
      type: Array,
      default: () => []
    },
    phrases: {
      type: Object,
      default: () => {}
    },
    positionOffset: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      phrasesLocal: _.cloneDeep(this.phrases),
      guessesLocal: _.cloneDeep(this.guesses),
      sentenceLocal: _.cloneDeep(this.sentence),
      selected: []
    };
  },
  computed: {
    phrasesByPosition() {
      let result = {};
      if (!this.phrasesLocal || this.phrasesLocal.length == 0) return {};
      for (const phrase of this.phrasesLocal) {
        if (phrase["positions"]) {
          result[this.tupleString(phrase["positions"])] = phrase["guesses"];
        }
      }
      return result;
    }
  },
  created: function() {
    this.debouncedUpdateGuess = _.debounce(this.updateGuess, 500);
    this.debouncedUpdateGuessForPhrase = _.debounce(this.updateGuessForPhrase, 500);
  },

  methods: {
    handleChange(event) {
      this.selected = event;
    },
    updateGuess(value, index) {
      this.loading = true;
      console.log("updating", index, this.sentenceLocal[index], this.sentenceLocal[index].word.id);
      this.guessesLocal[index] = value;
      let postData = {
        word: this.sentenceLocal[index],
        guess: value
      };
      apiCall.post(`/api/words/${this.sentenceLocal[index].word.id}/guess`, postData).then(resp => {
        this.loading = false;
      });
      console.log("update guesses", value, index);
      this.$emit("updateGuesses", value, index);
    },
    updateGuessForPhrase(value, index) {
      this.loading = true;
      console.log("updating phrase", value, index);
      console.log("phrases local", this.phrasesLocal, this.phrases);
      let word_ids = [];
      for (let i in index) {
        word_ids.push(this.sentenceLocal[i].word.id);
      }
      this.phrasesLocal[this.tupleString(index)] = value;
      console.log("phrases local", this.phrasesLocal);
      let postData = {
        word_ids: word_ids,
        value: value
      };
      apiCall.post(`/api/phrases/guess/`, postData).then(resp => {
        this.loading = false;
      });
      console.log("update guesses for phrases", value, index);

      // this.$emit("updateGuessesForPhrases", value, index);
    },
    tupleString(myList) {
      return `(${myList.join(", ")})`;
    }
  }
};
</script>
<style>
.el-row {
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
}
.reading-mode-source {
  overflow: hidden;
  background: #e5e9f2;
}
.reading-mode-guess {
  overflow: hidden;
  background: #b0bed4;
  margin-bottom: 30px;
}
.vocab-word {
  overflow: hidden;
  background: #e5e9f2;
  border-radius: 4px;
  margin: 6px;
}
.guess {
  overflow: hidden;
  /* border-radius: 4px; */
  height: 70px;
  /* margin: 6px; */
  background: #99a9bf;
}
</style>
<style scoped>
h1 {
  color: green;
}
p {
  color: blue;
}
.input-tag-wrapper {
  position: relative;
  font-size: 14px;
  background-color: #99a9bf;
  background-image: none;
  border: none;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  outline: none;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
</style>
