<template>
  <div>
    <h2>Text</h2>
    <div class="full-width" v-loading="loading">


      <el-switch
        style="display: block"
        v-model="isEditMode"
        active-color="#13ce66"
        inactive-color="#ff4949"
        active-text="Edit Mode"
        inactive-text="Reading Mode"
      >
      </el-switch>
      <div v-if="isEditMode">
        <div v-for="(sentence, i) in sentences" :key="i">
          <guess-input-for-multiple-words
            @updateGuesses="updateGuesses"
            @updateGuessesForPhrases="updateGuessesForPhrases"
            :guesses="guesses"
            :sentence="sentence"
            :sourceText="sourceText"
            :phrases="phrasesBySentence[i]"
            :positionOffset="sentenceRange[i]['start']"
          />
        </div>
      </div>
      <div v-else>
        Reading Mode Under Development
      </div>
   </div>
  </div>
</template>

<script>
import apiCall from "@/utils/api";
import GuessInputForMultipleWords from "./GuessInputForMultipleWords.vue";

function convertStringToList(string) {
  // converts a string in the format "(1, 2, 3)" to a list [1, 2, 3]
  let commaSeparatedNumbers = /(\d+),?/g;
  let matches = [...string.matchAll(commaSeparatedNumbers)];
  let finalList = [];
  for (const match in matches) {
    finalList.push(parseInt(matches[match][1]));
  }
  return finalList;
}

export default {
  components: {
    GuessInputForMultipleWords
  },
  data() {
    return {
      sentenceRange: {},
      sourceText: [],
      sentences: [],
      guesses: [],
      sourceTextLoading: true,
      guessesLoading: true,
      phrasesLoading: true,
      isEditMode: true,
      selectedGuesses: [],
      phrases: {}
    };
  },
  computed: {
    loading() {
      return this.sourceTextLoading
    },
    phrasesBySentence() {
      let result = {};
      let phrasesWithPosition = [];

      for (const phrase in this.phrases) {
        let position_numbers = convertStringToList(phrase);
        phrasesWithPosition.push({ positions: position_numbers, guesses: this.phrases[phrase] });
      }
      for (const sentenceNumber in this.sentenceRange) {
        for (const i in phrasesWithPosition) {
          let phrase = phrasesWithPosition[i];

          if (
            this.sentenceRange[sentenceNumber]["start"] <= phrase.positions[0] &&
            this.sentenceRange[sentenceNumber]["stop"] >=
              phrase.positions[phrase.positions.length - 1]
          ) {
            if (result[sentenceNumber]) {
              result[sentenceNumber].push(phrase);
            } else {
              result[sentenceNumber] = [phrase];
            }
          }
        }
      }
      return result;
    }
  },
  watch: {},
  mounted() {
    this.fetchSourceText();
    this.fetchTranslation();
    document.title = "Text";
  },
  methods: {
    updateGuessesForPhrases(value, index) {
      this.phrasesLoading = true;
      this.phrases[index] = value;
      console.log("updating");

      let postData = {
        phrases: this.phrases
      };
      apiCall
        .post(`/api/phrases/source-text/${this.$route.params.textId}/`, postData)
        .then(resp => {
          if (this.phrases !== resp) {
            this.phrases = resp.data;
          }
          this.phrasesLoading = false;
        });
    },
    updateGuesses(value, index) {
      this.guessesLoading = true;
      this.guesses[index] = value;
      console.log("updating");

      let postData = {
        guesses: this.guesses
      };
      apiCall
        .post(`/api/guesses/source-text/${this.$route.params.textId}/`, postData)
        .then(resp => {
          if (this.guesses !== resp.data) {
            this.guesses = resp.data;
          }
          this.guessesLoading = false;
        });
    },
    fetchSourceText() {
      this.sourceTextLoading = true;
      apiCall.get(`/api/source-text/${this.$route.params.textId}/`).then(resp => {
        this.sourceText = resp.data;
        this.sourceTextLoading = false;
        var result = [];
        var sentence = [];
        let sentenceRange = {};
        // sentenceRange lists what word index start and stop each
        // sentence
        let start = 0;
        let sentenceCount = 0;
        for (var i = 0; i < this.sourceText.length; i++) {
          if (
            this.sourceText[i].word.text.includes("\n") ||
            this.sourceText[i].word.text == "." ||
            this.sourceText[i].word.text == "?"
          ) {
            //Returning true if it's a new line
            if (!this.sourceText[i].word.text.includes("\n")) {
              sentence.push(this.sourceText[i]);
            }
            result.push(sentence);
            sentence = [];
            sentenceRange[sentenceCount] = { start: start, stop: i };
            start = i + 1;
            sentenceCount++;
          } else {
            sentence.push(this.sourceText[i]);
          }
        }
        if (sentence) {
          result.push(sentence);
          sentenceRange[sentenceCount] = { start: start, stop: i };
        }
        this.sentences = result;
        this.sentenceRange = sentenceRange;
      });
    },
    fetchTranslation() {
      apiCall.get(`/api/guesses/source-text/${this.$route.params.textId}/`).then(resp => {
        this.guesses = resp.data;
        this.guessesLoading = false;
      });
      apiCall.get(`/api/phrases/source-text/${this.$route.params.textId}/`).then(resp => {
        this.phrases = resp.data;
        this.phrasesLoading = false;
      });
    }
  }
};
</script>
<style>
.el-row {
  margin-bottom: 40px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
}
.bg-purple-dark {
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
}
.reading-mode-source {
  overflow: hidden;
  background: #e5e9f2;
}
.reading-mode-guess {
  overflow: hidden;
  background: #b0bed4;
  margin-bottom: 30px;
}
.vocab-word {
  overflow: hidden;
  background: #e5e9f2;
  border-radius: 4px;
  margin: 6px;
}
.guess {
  overflow: hidden;
  /* border-radius: 4px; */
  height: 70px;
  /* margin: 6px; */
  background: #99a9bf;
}
.related {
  overflow: hidden;
  border-radius: 0;
  height: 70px;
  /* margin: 6px; */
  background: #948b96;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}
.full-width {
  width: 100%;
}
</style>
<style scoped>
.input-tag-wrapper {
  position: relative;
  font-size: 14px;
  background-color: #99a9bf;
  background-image: none;
  border: none;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  outline: none;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}

h1 {
  color: green;
}
p {
  color: blue;
}
</style>
