<template>
  <div>
    <el-menu
      :collapse-transition="false"
      :router="true"
      :default-active="activeLink"
      class="el-menu-demo"
      title="The Language Vault"
      mode="horizontal"
    >
      <el-menu-item index="/" route="/">The Language Vault</el-menu-item>
      <el-menu-item v-if="!isAuthenticated" index="/login" route="/login">Login</el-menu-item>
      <el-menu-item v-if="!isAuthenticated" index="/signup" route="/signup">Sign Up</el-menu-item>
      <el-menu-item v-if="isAuthenticated" index="/game" route="/game">Game Mode</el-menu-item>
      <el-submenu v-if="isAuthenticated" index="4">
        <template slot="title">Main Menu</template>
        <el-menu-item v-if="isAuthenticated" index="/text" route="/text">
          Texts
        </el-menu-item>
        <el-menu-item v-if="isAuthenticated" index="/text/add" route="/text/add">
          Add A New Text
        </el-menu-item>
      </el-submenu>
    </el-menu>
  </div>
</template>

<script>
/* eslint-disable */
import { mapGetters, mapState } from "vuex";
import { AUTH_LOGOUT } from "@/store/actions/auth";

export default {
  name: "navigation",
  components: {},
  data() {
    return {
      activeLink: null,
      adminURL: `http://${process.env.VUE_APP_API_BASE_URL}/admin`
    };
  },
  mounted: function() {
    this.activeLink = this.$route.path;
  },
  watch: {
    $route(to, from) {
      this.activeLink = to.path;
    }
  },
  computed: {
    ...mapGetters(["getProfile", "isAuthenticated", "isProfileLoaded"]),
    ...mapState({
      authLoading: state => state.auth.status === "loading"
    })
  }
};
</script>

<style scoped>
.admin-link {
  text-decoration: none;
}
.profile-image {
  height: 40px;
}
</style>
